.login {
  position: fixed;
  top: 30%;
  right: 40%;
  width: 300px;
  height: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px  rgb(230, 143, 230);
  transition:all 0.3s ease;
}
.login:hover{
  box-shadow: 1px 1px rgb(218, 54, 157);
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin:1rem;
}
.form h1 {
  margin: 1rem;
  padding: 10px;
}
.form input {
  width: 70%;
  padding: 5px;
  border-radius: 8px;
  border: 1px solid grey;
  font-size: 20px;
}
.form input:hover{
  border:1px solid violet;
  background-color: aliceblue;
}
.form button{
  padding:5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(246, 18, 181);
  box-shadow: 2px 2px rgb(230, 143, 230);
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.4s ease-out;
}
.form button:hover{
  background-color: rgba(114, 113, 222, .9);
  color:white;
  box-shadow: 1px 1px yellowgreen;
}