.about-us {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.about-us h1, .about-us h2 {
  color: #333;
}

.about-us p {
  line-height: 1.6;
  color: #555;
}

.about-us ul {
  list-style-type: none;
  padding: 0;
}

.about-us ul li {
  background: #f9f9f9;
  margin: 10px 0;
  padding: 10px;
  border-left: 5px solid #db3ddb;
}
.about-us ul li:hover{
  border-left: 5px solid pink;
}

.about-us ul li strong {
  display: block;
  margin-bottom: 5px;
}


.signup {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #f42ce6;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.4s ease;
}
.signup a{
  text-decoration: none;
}
.signup:hover {
  background-color: white;
  border:1px solid purple;
  color:purple;
}
